<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <img src="./../assets/logos/001.png" />
    </div>
    <nav>
      <div class="nav-mobile">
        <a id="nav-toggle" href="#!"><span></span></a>
      </div>
      <ul class="nav-list">
        <ng-container *ngFor="let item of menuItems">
          <li>
            <a [routerLink]="item.path">{{ item.name }}</a>
          </li>
        </ng-container>
      </ul>
    </nav>
  </div>
</section>

<article>
  <router-outlet></router-outlet>
</article>
