<h2>Posts Page</h2>
<p>Posts Loaded: {{ (posts$ | async)?.length }}</p>
<ng-container
  *ngIf="
    (posts$ | async)?.length == 0 && (loadingGetPosts$ | async);
    else content
  "
>
  <app-loading text="Fetching Post..." textColor="black"></app-loading>
</ng-container>
<ng-template #content>
  <table>
    <thead>
      <tr>
        <th>UserId</th>
        <th>Id</th>
        <th>Title</th>
        <th>Body</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of posts$ | async">
        <tr>
          <td>{{ item?.userId }}</td>
          <td>{{ item?.id }}</td>
          <td>{{ item?.title }}</td>
          <td>{{ item?.body }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</ng-template>
